/WINDOWS/IntuneManagement/**/* diff working-tree-encoding=UTF-8 eol=CRLF
/MACOS/IntuneManagement/**/* diff working-tree-encoding=UTF-8 eol=CRLF
/**/NativeImport/*.json diff working-tree-encoding=UTF-8 eol=CRLF
